.wrapper{font-family:Georgia, Arial, Helvetica;font-size:18px;    overflow-x: hidden;}
a.btn{text-transform:uppercase;background:#19435B;border-radius:0px;padding: 10px 30px; border:0px;font-family: 'Roboto', sans-serif;margin:45px 0 100px;width:100%;max-width:327px;}
.btn-bordered{
	border: 2px #fff solid;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 30px;
    color: #fff;
}
.btn-bordered:hover,.btn-bordered:focus{
    color: #333;
    background:#f2f2f2; border-color:#f2f2f2;
    text-decoration:none;
}
img{max-width:100%; width:auto;}
hr{border-color:#19435B !important;}
.wrap{width: auto;    clear: both;}
#back-top {
    position: fixed;
    bottom: 10px;
    right: 23px;
    z-index: 99999;
}
#back-top a {
    width: auto;
    background: #000;
    padding: 10px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
h1{font-size: 51px; font-family: 'Roboto', sans-serif;}
h2{font-size:36px;color:#19435A;    margin-bottom:30px;}
h3{font-size:30px;}
#logo{position:absolute;z-index:99;min-height:109px; max-height:199px;}
#header{background:#C7312C; margin-top:53px;overflow:hidden;margin-left:186px;padding: 0 10px;}
#header ul{margin:0 15px 0 0;}
#header ul li{margin:60px 0px 61px;color:#fff;padding-left: 3px;padding-right: 3px;    min-width: 34px; text-align: center;}
#header ul li.dummy{display:none;}
#header ul li a{color:#fff;font-family: 'Roboto', sans-serif; font-weight:500;font-size:/*24px*/16px;}
#header ul li.facebook a span.white, #header ul li.twitter a span.white{display:block;}
#header ul li.facebook a span.grey, #header ul li.twitter a span.grey{display:none;}
#header .collapsible-menu{margin:0;position:relative;font-family: 'Roboto', sans-serif;}
#header .collapsible-menu button{background:#333;color:#fff;}
#header .collapsible-menu ul li{margin:0;text-align:left;list-style: none;}
#header #menu_collapse{
	background:#333;color:#fff;    margin: 0;
    width: 150px;
    position: absolute;
    right: 0;
    top: 34px;
    padding:10px;
    z-index: 99;
    }
#header .collapsible-menu ul li a{color:#fff !important; }

#about {background:#C7312C;padding:180px 0 90px;}
#about h1{width:87%; margin:0 auto; color:#fff;line-height:71px;font-family:Georgia, Arial, Helvetica;}
#approch{color:#19435A;text-align:center;padding:120px 0 0;}
#approch > p{width:87%; margin:20px auto; line-height:46px;}
#approch > p.lead{font-size:26px;margin-bottom:100px;}
#approch img{margin:20px auto; }

#community{background:#E4E4E4;padding:50px 0 0;color:#19435A;text-align:center;font-family: 'Roboto', sans-serif;}
#community img{    margin: 55px 0 100px; }
#community > p{width: 80%;   margin: 0 auto 50px;}
#community .col-md-4,#community .col-md-3{padding-left:20px; padding-right:20px;}
#community .model-details{    width: 80%;   margin: 0 auto;}
#community hr{    margin: 64px 0 100px;}

#contact{padding: 50px 0 0;}
#contact h2{margin-bottom:50px;}
#contact .map{
color: #1F3C4C;
background: url('../../images/map.png') no-repeat 50% 0%;
height: 450px;
position:relative;
max-width: 1280px;
    margin: 0 auto;
}
.contact-details{
    position: absolute;
    background: #fff;
    padding: 25px;
    max-width: 300px;
    top: 70px;
    left: 70px;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}
.contact-details hr{border-color:#c9c9c9 !important;}
.copyright{color:#737373;font-size:12px;text-transform:uppercase;text-align:center; margin:24px auto;font-family: 'Roboto', sans-serif;}
.copyright a{color:#737373;}

.tab-content{font-family: 'Roboto', sans-serif;margin:85px auto 0; max-width:87%;}
.tab-content .points{font-weight:500;}
.tab-content .col-md-4{padding-left:20px; padding-right:20px;}
.tab-pane{-webkit-padding-start: 20px;  padding-left: 20px;}
.nav-tabs { border: 0;font-family: 'Roboto', sans-serif;width: 87%;margin: 0 auto;}
.nav-tabs li {margin:0 2% 0 0;padding:0;width:22%;display:table;}
.nav-tabs li a,.nav>li>a:focus, .nav>li>a:hover,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {text-align: center;
    background-color:transparent;border:0px;
    height: 240px;
    background-size: contain;
    max-width: 225px;
	display:table-cell; vertical-align:middle;
}
.nav-tabs li a span{color:#fff;font-size:30px;font-weight:500;}

.active .yellow{background: url('../../images/yellow-active.png') no-repeat;}
.yellow { background: url('../../images/yellow.png') no-repeat;}
.active .green{ background: url('../../images/green-active.png') no-repeat; }
.green { background: url('../../images/green.png') no-repeat; }
.active .purple{background: url('../../images/purple-active.png') no-repeat; }
.purple { background: url('../../images/purple.png') no-repeat;}
.active .blue{ background: url('../../images/blue-active.png') no-repeat;  }
.blue { background: url('../../images/blue.png') no-repeat; }

div.sidemenu,body.background div.sidemenu{color:#333;}
div.sidemenu .sidemenu_title{font-weight:bold;}
div.sidemenu ul{padding:0;}
div.sidemenu ul li{list-style:none;background:#f2f2f2;padding:10px;margin:10px 0;}
div.sidemenu a{color:#333;}

/*Other pages*/
body.background .text-white p{color:#333;    margin-top: 140px;   margin-bottom: 50px;}
body.background .text-grey{color:#333;}
body.background .wrapper{background: url('../../images/background/bg-2.jpg') no-repeat 0 129px; background-size:100%;}
body.background div{color:#fff; font-family: 'Roboto', sans-serif;}
body.background #header{background:none; height:100px;margin-left:0;}
body.background #header ul li{margin:20px 0 10px;}
body.background #header ul li a,body.background #header ul li{color:#333;}
body.background #header ul li.facebook a span.white,body.background #header ul li.twitter a span.white{display:none;}
body.background #header ul li.facebook a span.grey, body.background #header ul li.twitter a span.grey{display:block;}
body.background #logo {max-width: 121px !important;}
body.background .pageheading{margin-top:8%; font-weight:bold;}
body.grey{ background:#f1f1f1; padding:5px 10px;}
body.background-plain .wrapper{background:none;}
body.background-plain #header{background:none; height:100px;margin-left:0;}
body.background-plain #header ul li{margin:20px 0 10px;}
body.background-plain #header ul li a,body.background-plain #header ul li{color:#333;}
body.background-plain #header ul li.facebook a span.white,body.background-plain #header ul li.twitter a span.white{display:none;}
body.background-plain #header ul li.facebook a span.grey, body.background-plain #header ul li.twitter a span.grey{display:block;}
body.background-plain #logo {max-width: 121px !important;}
body.background-plain .pageheading{margin-top:8%; font-weight:bold;}

.tutorial-inner{background: #f3f3f3; padding: 20px;height: 320px; margin: 10px 0;}
.tutorial-inner .item-image{padding:10px 0;width: 100%;text-align: center; height: 145px;margin: 0;}
.tutorial-inner .item-image img{max-height:125px;}
.tutorial-inner .media-title{width:100%; border-top: 1px solid #ccc;padding:10px;display:block;/*overflow: hidden; text-overflow: ellipsis;white-space:nowrap;*/ color:#737373;}
.tutorial-inner .media-title a{ color:#737373;}
.tutorial-inner .media-description{ color:#737373;font-size:75%;margin: 0 10px;display: block;}


@media (max-width:523px){
body.background .pageheading{margin-top:10%;font-size: 25px;}
}

@media (max-width:600px){
#about{padding-top:40px;}
#about h1 { font-size: 25px; line-height: inherit;}
.nav-tabs li a span,.nav-tabs li.active a span{font-size:13px;}
.nav-tabs li a,.nav>li>a:focus, .nav>li>a:hover,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {height: 95px;    max-width: 90px;}
body.background .pageheading{margin-top:10%;}
}

@media (max-width:768px){
.container{width:auto;margin: 0;  padding: 0 20px;}
#logo img{width:55%;}
#header{margin-top:20px;overflow:visible;padding-top: 30px;}
#header #menu{display:none;}
.nav-tabs {width:100%;}
.nav-tabs li a,.nav>li>a:focus, .nav>li>a:hover,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {height:145px;max-width:105px;}
.nav-tabs li a span,.nav-tabs li.active a span{font-size:15px;}
#community img{  max-width:80%;}
body.background .wrapper{background: url('../../images/background/bg-2.jpg') no-repeat 0 90px;background-size:100%;}
body.background .pageheading{margin-top:0;}
body.background .text-white p {margin-top:115px !important;color:#333;}
#header ul li.facebook a span.white, #header ul li.twitter a span.white,
body.background #header ul li.facebook a span.white, body.background #header ul li.twitter a span.white,
body.background-plain #header ul li.facebook a span.white, body.background-plain #header ul li.twitter a span.white{display:block;}
}
@media (min-width:769px){
.container{width:auto;}
#header .collapsible-menu{display:none;}
body.background .header{height: 146px; margin-left:120px;}
body.background .pageheading{margin-top:2%;}
body.background .text-white p{color:#fff;margin-bottom:100px;}
}
@media (max-width:991px){
.nav-tabs li a span,.nav-tabs li.active a span{font-size:20px;}
#header ul li{margin: 20px 0 10px;}
body.background .pageheading{margin-top:3%;}
body.background .text-white p{margin-top:40px;}
}
@media (min-width:1180px){
body.background .pageheading{margin-top:11%;}
}
@media (min-width:1600px){
body.background .pageheading{margin-top:15%;}
}


.fade{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;

	}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
